.u-margin-small { margin: 2rem; }
.u-margin-small-2 { margin: 3rem; }
.u-margin-medium { margin: 4rem; }
.u-margin-big { margin: 8rem; }

.u-margin-tb-small { margin: 2rem 0; }
.u-margin-tb-medium { margin: 4rem 0; }
.u-margin-tb-big { margin: 8rem 0; }

.u-margin-bottom-small-0 { margin-bottom: 1rem; }
.u-margin-bottom-small { margin-bottom: 2rem; }
.u-margin-bottom-small-2 { margin-bottom: 3rem; }
.u-margin-bottom-medium { margin-bottom: 4rem; }

.u-margin-top-small-0 { margin-top: 1rem; }
.u-margin-top-small-1 { margin-top: 2rem; }
.u-margin-top-small-2 { margin-top: 3rem; }

